<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LDOEMapper">

    <insert id="insertRoulette" parameterType="com.example.demo.dto.RouletteDTO">
        INSERT INTO ldoe
        (
            start_caps,
            1st,
            2nd,
            3rd,
            4th,
            5th,
            6th,
            7th,
            8th,
            9th,
            10th,
            11th,
            12th,
            13th,
            14th,
            15th,
            16th,
            17th,
            18th,
            19th,
            20th,
            21th,
            22th,
            23th,
            24th,
            25th,
            26th,
            27th,
            28th,
            29th,
            30th
        )
            VALUE
            (
            #{startCaps}
            #{one},
            #{two},
            #{three},
            #{four},
            #{five},
            #{six},
            #{seven},
            #{eight},
            #{nine},
            #{ten},
            #{eleven},
            #{twelve},
            #{thirteen},
            #{fourteen},
            #{fifteen},
            #{sixteen},
            #{seventeen},
            #{eighteen},
            #{nineteen},
            #{twenty},
            #{twentyOne},
            #{twentyTwo},
            #{twentyThree},
            #{twentyFour},
            #{twentyFive},
            #{twentySix},
            #{twentySeven},
            #{twentyEight},
            #{twentyNine},
            #{thirty}
            )
    </insert>
</mapper>